<title>Sacred Offerings</title>
<h2>
    Sacred Offerings
</h2>
<p id="idCenterContent">
    This section is dedicated to the board game project "Sacred Offerings".
    Being a god is hard, you have to eat, but don't want to fall out favor with the people more than the other deities.
    Draw people to worship you, but be discerning about who is sacrificed.
</p>

<% content_for :versions do %>
    <a href="http://htkb.dyndns.org/Division2/Project11.html">Basic HTML</a><br>
    <a href="http://htkb.dyndns.org/Division2/Project11.php">PHP</a><br>
    <a href="http://htkb.dyndns.org/Division2/Project11.shtml">Perl</a><br>
    <a href="http://htkb.dyndns.org/SSI/Division2/Project11.html">Apache SSI</a><br>
    <a href="http://htkb.dyndns.org/Javascript/Division2/Project11.html">HTML Javascript</a><br>
    <a href="http://htkb.dyndns.org/JQuery/Division2/Project11.html">JQuery</a><br>
    <a href="http://htkb.dyndns.org/AngularJS/Division2/Project11.html">Angular JS</a><br>
    <a href="http://htkb.dyndns.org:8080/JSFApplication/Division2/Project11.xhtml">JSF</a><br>
    <a href="http://htkb.dyndns.org:8080/JSPApplication/Division2/Project11.jsp">JSP</a><br>
    <a href="http://htkb.dyndns.org:8080/ProjectSpringTestSite/Division2/Project11.jsp">JSP Spring MVC</a><br>
    <a href="http://htkb.dyndns.org:81/ASP/Division2/Project11.asp">ASP VBscript</a><br>
    <a href="http://htkb.dyndns.org:81/ASPNET/Division2/Project11.aspx">ASP.NET Javascript</a><br>
	<a href="http://htkb.dyndns.org:81/WebApplication/Division2/Project11.cshtml">ASP.NET Web App</a><br>
    <a href="http://htkb.dyndns.org:81/WebForm/Division2/Project11.aspx">ASP.NET Webform</a><br>
    <a href="http://htkb.dyndns.org:81/MVC/Division2/Project11">ASP.NET MVC App</a><br>
    <a href="http://htkb.dyndns.org:82/Division2/Project11">Python Web.py</a><br>
    <a href="http://htkb.dyndns.org:84/Division2/Project11">Node JS</a><br>
<% end %>