<title>Conversion</title>
<h2>
    Conversion
</h2>
<p id="idCenterContent">
    This section is dedicated to the board game project "Conversion".
    Compete on the elemental market by processing elements and becoming the elemental kingpin.
</p>

<% content_for :versions do %>
    <a href="http://htkb.dyndns.org/Division2/Project14.html">Basic HTML</a><br>
    <a href="http://htkb.dyndns.org/Division2/Project14.php">PHP</a><br>
    <a href="http://htkb.dyndns.org/Division2/Project14.shtml">Perl</a><br>
    <a href="http://htkb.dyndns.org/SSI/Division2/Project14.html">Apache SSI</a><br>
    <a href="http://htkb.dyndns.org/Javascript/Division2/Project14.html">HTML Javascript</a><br>
    <a href="http://htkb.dyndns.org/JQuery/Division2/Project14.html">JQuery</a><br>
    <a href="http://htkb.dyndns.org/AngularJS/Division2/Project14.html">Angular JS</a><br>
    <a href="http://htkb.dyndns.org:8080/JSFApplication/Division2/Project14.xhtml">JSF</a><br>
    <a href="http://htkb.dyndns.org:8080/JSPApplication/Division2/Project14.jsp">JSP</a><br>
    <a href="http://htkb.dyndns.org:8080/ProjectSpringTestSite/Division2/Project14.jsp">JSP Spring MVC</a><br>
    <a href="http://htkb.dyndns.org:81/ASP/Division2/Project14.asp">ASP VBscript</a><br>
    <a href="http://htkb.dyndns.org:81/ASPNET/Division2/Project14.aspx">ASP.NET Javascript</a><br>
	<a href="http://htkb.dyndns.org:81/WebApplication/Division2/Project14.cshtml">ASP.NET Web App</a><br>
    <a href="http://htkb.dyndns.org:81/WebForm/Division2/Project14.aspx">ASP.NET Webform</a><br>
    <a href="http://htkb.dyndns.org:81/MVC/Division2/Project14">ASP.NET MVC App</a><br>
    <a href="http://htkb.dyndns.org:82/Division2/Project14">Python Web.py</a><br>
    <a href="http://htkb.dyndns.org:84/Division2/Project14">Node JS</a><br>
<% end %>