<title>Sacred Offerings</title>
<h2>
    Sacred Offerings
</h2>
<p id="idCenterContent">
    This section is dedicated to the board game project "Sacred Offerings".
    Being a god is hard, you have to eat, but don't want to fall out favor with the people more than the other deities.
    Draw people to worship you, but be discerning about who is sacrificed.
</p>

<% content_for :versions do %>
    <a href="http://htkb.dyndns.org/Section2/Project11.html">Basic HTML</a><br>
    <a href="http://htkb.dyndns.org/Section2/Project11.php">PHP</a><br>
    <a href="http://htkb.dyndns.org/Javascript/Section2/Project11.html">HTML Javascript</a><br>
    <a href="http://htkb.dyndns.org/JQuery/Section2/Project11.html">JQuery</a><br>
    <a href="http://htkb.dyndns.org:81/ASP/Section2/Project11.asp">ASP Javascript</a><br>
    <a href="http://htkb.dyndns.org:81/ASPNET/Section2/Project11.aspx">ASP.NET Javascript</a><br>
    <a href="http://htkb.dyndns.org:84/Section2/Project11">Node JS</a><br>
	<a href="http://htkb.dyndns.org/Section2/Project11.shtml">Perl</a><br>
    <a href="http://htkb.dyndns.org:8080/JSPApplication/Section2/Project11.jsp">JSP</a><br>
    <a href="http://htkb.dyndns.org:8080/JSFApplication/Section2/Project11.xhtml">JSF</a><br>
    <a href="http://htkb.dyndns.org:81/WebApplication/Section2/Project11.cshtml">ASP.NET Web App</a><br>
    <a href="http://htkb.dyndns.org:81/WebForm/Section2/Project11.aspx">ASP.NET Webform</a><br>
    <a href="http://htkb.dyndns.org:81/MVC/Main/Section2/Project11">ASP.NET MVC App</a><br>
    <a href="http://htkb.dyndns.org/SSI/Section2/Project11.html">Apache SSI</a><br>
    <a href="http://htkb.dyndns.org:82/Section2/Project11">Python Web.py</a><br>
<% end %>