<title>The Way</title>
<h2>
    The Way
</h2>
<p id="idCenterContent">
    This section is dedicated to the card game project "The Way".  You seek to find enlightment by contemplating the elements.
    Escape the binds of the world and the board to reach enlightment and win.
</p>

<% content_for :versions do %>
    <a href="http://htkb.dyndns.org/Section2/Project12.html">Basic HTML</a><br>
    <a href="http://htkb.dyndns.org/Section2/Project12.php">PHP</a><br>
    <a href="http://htkb.dyndns.org/Javascript/Section2/Project12.html">HTML Javascript</a><br>
    <a href="http://htkb.dyndns.org/JQuery/Section2/Project12.html">JQuery</a><br>
    <a href="http://htkb.dyndns.org:81/ASP/Section2/Project12.asp">ASP Javascript</a><br>
    <a href="http://htkb.dyndns.org:81/ASPNET/Section2/Project12.aspx">ASP.NET Javascript</a><br>
    <a href="http://htkb.dyndns.org:84/Section2/Project12">Node JS</a><br>
	<a href="http://htkb.dyndns.org/Section2/Project12.shtml">Perl</a><br>
    <a href="http://htkb.dyndns.org:8080/JSPApplication/Section2/Project12.jsp">JSP</a><br>
    <a href="http://htkb.dyndns.org:8080/JSFApplication/Section2/Project12.xhtml">JSF</a><br>
    <a href="http://htkb.dyndns.org:81/WebApplication/Section2/Project12.cshtml">ASP.NET Web App</a><br>
    <a href="http://htkb.dyndns.org:81/WebForm/Section2/Project12.aspx">ASP.NET Webform</a><br>
    <a href="http://htkb.dyndns.org:81/MVC/Main/Section2/Project12">ASP.NET MVC App</a><br>
    <a href="http://htkb.dyndns.org/SSI/Section2/Project12.html">Apache SSI</a><br>
    <a href="http://htkb.dyndns.org:82/Section2/Project12">Python Web.py</a><br>
<% end %>