<title>Assault CCG</title>
<h2>
    Assault CCG
</h2>
<div id="idCenterContent">
    This section is dedicated CCG project "Assault".
</div>

<% content_for :versions do %>
    <a href="http://htkb.dyndns.org/Division2/Project2.html">Basic HTML</a><br>
    <a href="http://htkb.dyndns.org/Division2/Project2.php">PHP</a><br>
    <a href="http://htkb.dyndns.org/Division2/Project2.shtml">Perl</a><br>
    <a href="http://htkb.dyndns.org/SSI/Division2/Project2.html">Apache SSI</a><br>
    <a href="http://htkb.dyndns.org/Javascript/Division2/Project2.html">HTML Javascript</a><br>
    <a href="http://htkb.dyndns.org/JQuery/Division2/Project2.html">JQuery</a><br>
    <a href="http://htkb.dyndns.org/AngularJS/Division2/Project2.html">Angular JS</a><br>
    <a href="http://htkb.dyndns.org:8080/JSFApplication/Division2/Project2.xhtml">JSF</a><br>
    <a href="http://htkb.dyndns.org:8080/JSPApplication/Division2/Project2.jsp">JSP</a><br>
    <a href="http://htkb.dyndns.org:8080/SpringMVC/Division2/Project2.jsp">JSP Spring MVC</a><br>
    <a href="http://htkb.dyndns.org:81/ASP/Division2/Project2.asp">ASP VBscript</a><br>
    <a href="http://htkb.dyndns.org:81/ASPNET/Division2/Project2.aspx">ASP.NET Javascript</a><br>
	<a href="http://htkb.dyndns.org:81/WebApplication/Division2/Project2.cshtml">ASP.NET Web App</a><br>
    <a href="http://htkb.dyndns.org:81/WebForm/Division2/Project2.aspx">ASP.NET Webform</a><br>
    <a href="http://htkb.dyndns.org:81/MVC/Division2/Project2">ASP.NET MVC App</a><br>
    <a href="http://htkb.dyndns.org:82/Division2/Project2">Python Web.py</a><br>
    <a href="http://htkb.dyndns.org:84/Division2/Project2">Node JS</a><br>
<% end %>