<title>Utopia</title>
<h2>
    Utopia
</h2>
<p id="idCenterContent">
    Here are projects based in the Utopia Nation:</br>
    </br>
    Elemental Angels: An adventure game with RPG elements based in the Avia Nation.</br>
</p>

<% content_for :versions do %>
    <a href="http://htkb.dyndns.org/Division2/Section5/Section3/Index.html">Basic HTML</a><br>
    <a href="http://htkb.dyndns.org/Division2/Section5/Section3/Index.php">PHP</a><br>
    <a href="http://htkb.dyndns.org/Division2/Section5/Section3/Index.shtml">Perl</a><br>
    <a href="http://htkb.dyndns.org/SSI/Division2/Section5/Section3/Index.html">Apache SSI</a><br>
    <a href="http://htkb.dyndns.org/Javascript/Division2/Section5/Section3/Index.html">HTML Javascript</a><br>
    <a href="http://htkb.dyndns.org/JQuery/Division2/Section5/Section3/Index.html">JQuery</a><br>
    <a href="http://htkb.dyndns.org/AngularJS/Division2/Section5/Section3/Index.html">Angular JS</a><br>
    <a href="http://htkb.dyndns.org:8080/JSFApplication/Division2/Section5/Section3/Index.xhtml">JSF</a><br>
    <a href="http://htkb.dyndns.org:8080/JSPApplication/Division2/Section5/Section3/Index.jsp">JSP</a><br>
    <a href="http://htkb.dyndns.org:8080/ProjectSpringTestSite/Division2/Section5/Section3/Index.jsp">JSP Spring MVC</a><br>
    <a href="http://htkb.dyndns.org:81/ASP/Division2/Section5/Section3/Index.asp">ASP VBscript</a><br>
    <a href="http://htkb.dyndns.org:81/ASPNET/Division2/Section5/Section3/Index.aspx">ASP.NET Javascript</a><br>
	<a href="http://htkb.dyndns.org:81/WebApplication/Division2/Section5/Section3/Index.cshtml">ASP.NET Web App</a><br>
    <a href="http://htkb.dyndns.org:81/WebForm/Division2/Section5/Section3/Index.aspx">ASP.NET Webform</a><br>
    <a href="http://htkb.dyndns.org:81/MVC/Division2/Section5/Section3/Index">ASP.NET MVC App</a><br>
    <a href="http://htkb.dyndns.org:82/Division2/Section5/Section3/Index">Python Web.py</a><br>
    <a href="http://htkb.dyndns.org:84/Division2/Section5/Section3/Index">Node JS</a><br>
<% end %>