<title>Online Experience Downloads</title>
<h2>
    Online Experience Downloads
</h2>
<p id="idCenterContent">
    Here are downloads to play Cube World with us:</br>
    </br>
    Cube World:<t><a href="<!--#echo var="$vTopPath"-->downloads/CubeSetup3.exe">Come play Cube World!</a></br>
    </br>
    DirectX:<t><a href="<!--#echo var="$vTopPath"-->downloads/directx_Jun2010_redist.exe">Direct X Redistrutable</a></br>
    DirectX "Web":<t><a href="<!--#echo var="$vTopPath"-->downloads/dxwebsetup.exe">Direct X Redistrutable</a></br>
    </br>
</p>

<% content_for :versions do %>
    <a href="http://htkb.dyndns.org/Section3/Project1.html">Basic HTML</a><br>
    <a href="http://htkb.dyndns.org/Section3/Project1.php">PHP</a><br>
    <a href="http://htkb.dyndns.org/Javascript/Section3/Project1.html">HTML Javascript</a><br>
    <a href="http://htkb.dyndns.org:81/ASP/Section3/Project1.asp">ASP Javascript</a><br>
    <a href="http://htkb.dyndns.org:81/ASPNET/Section3/Project1.aspx">ASP.NET Javascript</a><br>
    <a href="http://htkb.dyndns.org:84/Section3/Project1">Node JS</a><br>
	<a href="http://htkb.dyndns.org/Section3/Project1.shtml">Perl</a><br>
    <a href="http://htkb.dyndns.org:8080/JSPApplication/Section3/Project1.jsp">JSP</a><br>
    <a href="http://htkb.dyndns.org:8080/JSFApplication/Section3/Project1.xhtml">JSF</a><br>
    <a href="http://htkb.dyndns.org:81/WebApplication/Section3/Project1.cshtml">ASP.NET Web App</a><br>
    <a href="http://htkb.dyndns.org:81/WebForm/Section3/Project1.aspx">ASP.NET Webform</a><br>
    <a href="http://htkb.dyndns.org:81/MVC/Main/Section3/Project1">ASP.NET MVC App</a><br>
    <a href="http://htkb.dyndns.org/SSI/Section3/Project1.html">Apache SSI</a><br>
    <a href="http://htkb.dyndns.org:82/Section3/Project1">Python Web.py</a><br>
<% end %>