<title>Game Maker Downloads</title>
<h2>
    Game Maker Downloads
</h2>
<p id="idCenterContent">
    Here are Game Maker Projects to play:</br>
    </br>
    "Gamebox Client: v6.0":<t><a href="<!--#echo var="$vTopPath"-->downloads/GameBox_Client_Installer_v6p0.exe">Play games from...well, anywhere.</a></br>
    "Gamebox Server: v6.0":<t><a href="<!--#echo var="$vTopPath"-->downloads/GameBox_Server_Installer_v6p0.exe">Host GameBox.</a></br>
    "39dll.dll: v2.5:"<t><a href="<!--#echo var="$vTopPath"-->downloads/39dll.dll">You may need this in your "useruser/AppData/Local/GameBox_Client" folder.</a></br>
    "A Chess Server":<t><a href="<!--#echo var="$vTopPath"-->downloads/Chess_Server.exe">Host a Chess game.</a></br>
    "A Chess Client":<t><a href="<!--#echo var="$vTopPath"-->downloads/Chess_Client.exe">A game of Chess from anywhere.</a></br>
    "I Dunno":<t><a href="<!--#echo var="$vTopPath"-->downloads/Idunno.exe">I dunno, it's a fun puzzle game though.</a></br>
    "Purification":<t><a href="<!--#echo var="$vTopPath"-->downloads/Zombies.exe">Kill zombies...lots of zombies.</a></br>
    "Trail of the Undead: The Way Home":<t><a href="<!--#echo var="$vTopPath"-->downloads/TrailoftheUndead.exe">An adventure of zombie killing goodness.</a></br>
    "Discovery" (buggy Alpha):<t><a href="<!--#echo var="$vTopPath"-->downloads/Discovery.exe">Play a game of discovery and survival.</a></br>
    "Twisted Tactics: Version 0.1" (buggy Alpha):<t><a href="<!--#echo var="$vTopPath"-->downloads/Tactical.exe">Scrapped two player tactical system.</a></br>
    "Skitzo Burrito (Alpha): <t><a href="<!--#echo var="$vTopPath"-->downloads/Emotive-Default-1.0.0.3.exe">An emotional platform survival game.</a></br>
</p>

<% content_for :versions do %>
    <a href="http://htkb.dyndns.org/Section3/Project2.html">Basic HTML</a><br>
    <a href="http://htkb.dyndns.org/Section3/Project2.php">PHP</a><br>
    <a href="http://htkb.dyndns.org/Javascript/Section3/Project2.html">HTML Javascript</a><br>
    <a href="http://htkb.dyndns.org:81/ASP/Section3/Project2.asp">ASP Javascript</a><br>
    <a href="http://htkb.dyndns.org:81/ASPNET/Section3/Project2.aspx">ASP.NET Javascript</a><br>
    <a href="http://htkb.dyndns.org:84/Section3/Project2">Node JS</a><br>
	<a href="http://htkb.dyndns.org/Section3/Project2.shtml">Perl</a><br>
    <a href="http://htkb.dyndns.org:8080/JSPApplication/Section3/Project2.jsp">JSP</a><br>
    <a href="http://htkb.dyndns.org:8080/JSFApplication/Section3/Project2.xhtml">JSF</a><br>
    <a href="http://htkb.dyndns.org:81/WebApplication/Section3/Project2.cshtml">ASP.NET Web App</a><br>
    <a href="http://htkb.dyndns.org:81/WebForm/Section3/Project2.aspx">ASP.NET Webform</a><br>
    <a href="http://htkb.dyndns.org:81/MVC/Main/Section3/Project2">ASP.NET MVC App</a><br>
    <a href="http://htkb.dyndns.org/SSI/Section3/Project2.html">Apache SSI</a><br>
    <a href="http://htkb.dyndns.org:82/Section3/Project2">Python Web.py</a><br>
<% end %>