/*basic default styles*/

body
{

    background-color: #ffffff;

    font-size: 12px;

    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;

    color: #000000;

    margin: 10px;

    background-image: url(http://www.infoservemedia.com/design/resources/backgrounds/photos/73a15rsgro.gif);

}



h1
{

    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;

    border-bottom: 1px solid #AFAFAF;

    font-size:  16px;

    font-weight: bold;

    margin: 0px;

    padding: 0px;

    color: #D20005;

}



a:link, a:visited 
{

  color: #045491;

  font-weight : bold;

  text-decoration: none;

}



a:link:hover, a:visited:hover
{

  color: #045491;

  font-weight : bold;

  text-decoration : underline;

}



/*cssLayout*/


#top
{

    position: relative;

    background-color: #398559;

    color: #222;

    font-weight: 700;

    padding: 5px;

    margin: 0px 10%;

    text-align: center;

    border: solid black 1px;

    border-bottom: none;

}



#bottom
{

    position: relative;

    background-color: #398559;

    padding: 5px;

    margin: 0px 10%;

    text-align: center;

    border-color: black;

    border-style: none solid solid solid;

    border-width: 1px;

    font-size: 90%;


}



#left
{

    float: left;

    background-color: #ece3a5;

    padding: 5px;

    width: 150px;

}



#right
{

    float: right;

    background-color: #ece3a5;

    padding: 5px;

    width: 150px;

}



.center_content
{

    position: relative;

    background-color: #DBFEEA;

    padding: 1em 1em;

    margin: 0% 10%;

    text-align: center;

    border: solid black 1px;

}



.left_content
{

    background-color: #dddddd;

    padding: 5px;

    margin-left: 170px;
}



.right_content
{

    background-color: #dddddd;

    padding: 5px;

    margin: 0px 170px 0px 170px;

}



#top a:link, #top a:visited
{

  color: white;

  font-weight : bold;

  text-decoration: none;

}



#top a:link:hover, #top a:visited:hover  
{

  color: black;

  font-weight : bold;

  text-decoration : underline;

}



/*misc classes*/


.logo
{
     
     border: solid 0.2em;

     border-color: #aeaeae;

}



.homepage-pics
{

     border: solid 0.2em;

     border-color: #398559;

}



.inventory-pics
{

     border: solid 1px;

     border-color: #398559;

}



.inventory-table
{

     padding: 20px;

     margin:  20px;

     background-color: #c0e359;

     border: 3px #398559 dashed;

     width: 850px;

}




.manager-table
{

     padding: 5px;

     margin:  5px;

     background-color: #c0e359;

     border: 3px #398559 dashed;

     width: 850px;

     white-space: normal;

}



.nowrap
{

    overflow: hidden;

}



.inventory-table-cell
{


     background-color: #EDFEF5;

     border: 2px #398559 solid;

}



p#frontpage-header
{

     font-family: "Trebuchet MS", sans;
     font-size: 130%;
     font-weight: 900;
     color: #285D3E;
     line-height: 20px;
     
}

p#frontpage-text {
     font-size: 110%;
     font-weight: 500;
     color: #398559;
     line-height: 1.6em;
}

.manager-big-header {
     font-family: "Trebuchet MS", sans;
     font-size: 140%;
     font-weight: 900;
     color: #dbfeea;
     line-height: 20px;
     background-color: #398559;
}

.manager-input-regular {
    width: 100px;
}

.manager-input-small {
    width: 60px;
}

.frontpage-header {
     font-family: "Trebuchet MS", sans;
     font-size: 140%;
     font-weight: 900;
     color: #285D3E;
}

/*form stylization*/
.myform {
     border: 2px #398559 solid;
     background-color: #EDFEF5;
     padding: 20px;
     margin: 20px;
}

.myform-header {
     font-weight: 800;
     font-size: 14px;
     font-family: inherit;
     color: #398559;
}

.myform-p {
     color: #777;
     font-weight: 700;
     font-size: 10px;

}



.myform-labels
{

     color: #398559;
     font-weight: bold;
     line-height: 22px;
}

.myform-inputs {
     width: 125px;
     border: 1px #398559 solid;
     
}

/*navbar listamatically correct*/
.navbar {
    position: relative;
    background-color: #398559;
    padding: 5px;
    margin: 0px 10%;
    text-align: center;
    border-color: black;
    border-style: none solid none solid;
    border-width: 1px;
    font-size: 100%;
    font-variant: small-caps;
}

#navbar ul {
    margin: 0;
    padding: 1px ;
    list-style-type: none;
    text-align: center;
    background-color: inherit;
    color: #C0E357;
}

#navbar ul li {
    display: inline;    
}

#navbar ul li a {
    text-decoration: none;
    padding: 0.2em 0.8em;
    color: #DBFEEA;
    background-color: #398559;
}

#navbar ul li a:hover {
    color: #c0e357;
    background-color: #398559;      
}

#navbar ul li#current {
     text-decoration: underline;
     font-size: 100%;
     font-weight: 600;
     color: #C0E357;

}



#navbar ul li#spacers 
{
     color: #DBFEEA;
     font-weight: bold;

}



.currentpage
{

     font-size: 110%;
     font-weight: 700;

}



/***BUTTONS and MISC****/


.login-button
{

     background: url(http://button-download.com/img/btn/btn_20.png);
     display:block;
     color: #000;
     font-size:10px;
     text-decoration: none;
     width: 122px;
     height: 39px;
     line-height:360%;
     text-align:center;

}




