root { 
    display: block;
}

/* Elements */
body
{
	width: 100%;
	max-width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	line-height: 25px;
	background-color: #aaaaaa;
}

a {
	font-family: Verdana, Geneva, sans-serif;
	color: #0000ff;
}

a:hover {
	font-family: Verdana, Geneva, sans-serif;
	color: #00aa00;
}

h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 175%;
	color: #0000ff;
    
}

h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 150%;
	color: #0000ff;
    text-align: center;
    text-decoration: underline;
}

h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 130%;
	color: #0000ff;
	text-align: center;
}

h4 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 120%;
	color: #bbbbbb;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
    background-color: #0000ff;
    width: 100%;
	max-width: 100%;
}

h5{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 80%;
	color: #0000ff;
	text-align: left;
	padding-left: 15px;
}

h6{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 70%;
	color: #0000ff;
	text-align: left;
	padding-left: 20px;
}

navlink
{
    font-weight: bold;
    border: transparent;
	width: auto;
	max-width: auto;
	padding: 2px;
	text-align: left;

}

navlink a
{
    padding: 0px;
	text-decoration: underline;
	display: block;
	color: #0000ff;
	border: transparent;
	margin: 0px;
}

navlink a:hover
{
    color: #00aa00;
}

/* Classes */
.navBar
{
    font-weight: bold;
    border: transparent;
	width: auto;
	max-width: auto;
	padding: 10px;
	text-align: left;
    font-size: 100%;
}

.navBar a
{
    padding: 0px;
	text-decoration: underline;
	display: block;
	color: #0000ff;
	border: transparent;
	margin: 0px;
}

.navBar a:hover
{
    color: #00aa00;
}

.navlinkA
{
    font-weight: bold;
    border: transparent;
	width: auto;
	max-width: auto;
	padding: 2px;
	text-align: left;
    font-size: 100%;
}

.navlinkA a
{
    padding: 0px;
	text-decoration: underline;
	display: block;
	color: #0000ff;
	border: transparent;
	margin: 0px;
}

.navlinkA a:hover
{
    color: #00aa00;
}

.navlinkB
{
    font-weight: bold;
    border: transparent;
	width: auto;
	max-width: auto;
	padding: 2px;
	text-align: left;
    font-size: 90%;
    margin: 5%;
}

.navlinkB a
{
    padding: 0px;
	text-decoration: underline;
	display: block;
	color: #0000ff;
	border: transparent;
	margin: 0px;
}

.navlinkB a:hover
{
    color: #00aa00;
}

.navlinkC
{
    font-weight: bold;
    border: transparent;
	width: auto;
	max-width: auto;
	padding: 2px;
	text-align: left;
    font-size: 80%;
    margin: 10%;
}

.navlinkC a
{
    padding: 0px;
	text-decoration: underline;
	display: block;
	color: #0000ff;
	border: transparent;
	margin: 0px;
}

.navlinkC a:hover
{
    color: #00aa00;
}

.navlinkD
{
    font-weight: bold;
    border: transparent;
	width: auto;
	max-width: auto;
	padding: 2px;
	text-align: left;
    font-size: 70%;
    margin: 15%;
}

.navlinkD a
{
    padding: 0px;
	text-decoration: underline;
	display: block;
	color: #0000ff;
	border: transparent;
	margin: 0px;
}

.navlinkD a:hover
{
    color: #00aa00;
}

.classObject
{
	width: 100%;
	height: 100%;
	overflow: visible;
	border: 0px solid #FE0101;
	
}

/* IDs */
#idInnerBody
{
    width: 100%;
	max-width: 100%;
	height: 100%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	line-height: 25px;
	background-color: #000000;
	padding: 0;
	margin: 0;
	color: #aaaaaa;
}

#idGeneralLayout
{
    width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	
	background-color: #000000;
    border: 0px solid #FE0101;
    vertical-align: top;
	
		
}

#idTableMain /*decomission*/
{
    width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	background-color: #000000;
    border: 0px solid #FE0101;
    vertical-align: top;
	
}

#idHeaderRow
{
	width: 100%;
	max-width: 100%;
	color: #000000;
    border: 0px solid #FE0101;
    vertical-align: top;
}

#idLogo
{
    width: 100%;
	max-width: 100%;
	height: 50%;
	
	border: 0px solid #FE0101;
    vertical-align: top;
}

#idHeaderObject
{
    height: 50%;
	width: 100%;
	max-width: 100%;
	border: 0px solid #FE0101;
    vertical-align: top;
}

#idInnerLogo
{
    height: 100%;
	width: 100%;
	max-width: 100%;
	border: 0px solid #FE0101;
    vertical-align: top;
}

#idNavigationBar
{
	width: 100%;
	max-width: 100%;
	height: 10%;
	max-height: 10%;
	border: 0px solid #FE0101;
    vertical-align: top;
}

#idInnerNavigationBar
{
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	border: 0px solid #FE0101;
    vertical-align: top;
}

#idCenterRow
{
	width: 100%;
	max-width: 100%;
	height: 100%;
	border: 0px solid #FE0101;
    vertical-align: top;
}

#idCenterRowLeft
{
	width: 15%;
	max-width: 15%;
	height: 100%;
	max-height: 100%;
	
	padding: 0px;
    border: 0px solid #FE0101;
    vertical-align: top;
	
	display: inline-block;
}

#idOuterNavigationHeader
{
	width: 100%;
	max-width: 100%;
	height: 50%;
	max-height: 50%;
	
	margin: 0px;
	padding: 0px;
    
	border: 0px solid #FE0101;
    vertical-align: top;
}


#idNavigationHeader
{
	width: 100%;
	max-width: 100%;
	height: 100%;
	padding: 0px;
    border: 0px solid #FE0101;
    vertical-align: top;
}

#idInnerNavigationHeader
{
	width: 100%;
	max-width: 100%;
	height: 100%;
	padding: 0px;
    border: 0px solid #FE0101;
    vertical-align: top;
}

#idNavigation
{
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	
	padding: 0px;
    border: 0px solid #FE0101;
    vertical-align: top;
}

#idInnerNavigation
{
	width: 100%;
	max-width: 100%;
	height: 100%;
	padding: 0px;
    border: 0px solid #FE0101;
    vertical-align: top;
}

#idCenterRowMain
{
	width: 69%;
	max-width: 69%;
	height: 100%;
	
	margin: 0px;
	padding: 0px;
    
	border: 0px solid #FE0101;
    vertical-align:text-top;
	/*vertical-align: top;*/
	
	overflow: visible;
	display: inline-block;
}

#idCenterContent /*Decommission*/
{
    width: 100%;
	max-width: 100%;
	height: 100%;
	color: #aaaaaa;
    border: 0px solid #FE0101;
    vertical-align: top;
}

#idContent
{
    width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	
	color: #aaaaaa;
    border: 0px solid #FE0101;
    vertical-align: top;
}

#idInnerContent
{
    width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	
	color: #aaaaaa;
    border: 0px solid #FE0101;
    vertical-align: top;
}

#idCenterRowRight
{
	width: 15%;
	max-width: 15%;
	height: 100%;
	color: #aaaaaa;
	padding: 0px;
    border: 0px solid #FE0101;
    vertical-align: top;
	
	display: inline-block;
}

#idOuterInformationHeader
{
	width: 100%;
	max-width: 100%;
	height: 100%;
	
	margin: 0px;
	padding: 0px;
    
	color: #aaaaaa;
	border: 0px solid #FE0101;
    vertical-align: top;

}

#idVersions
{
	width: 100%;
	max-width: 100%;
	height: 100%;
	color: #aaaaaa;
	padding: 0px;
    border: 0px solid #FE0101;
    vertical-align: top;
}

#idInnerVersions
{
	width: 100%;
	max-width: 100%;
	height: 100%;
	color: #aaaaaa;
	padding: 0px;
    border: 0px solid #FE0101;
    vertical-align: top;
}

#idFooterRow
{
	width: 100%;
	max-width: 100%;
	height: 100%;
	color: #aaaaaa;
    border: 0px solid #FE0101;
    vertical-align: top;
}

#idFooter
{
	width: 100%;
	max-width: 100%;
	height: 100%;
	text-align: center;
}

#idInnerFooter
{
	width: 100%;
	max-width: 100%;
	height: 100%;
	text-align: center;
}

#idFooterContent
{
    border: 0px solid #FE0101;
    vertical-align: top;
    text-align: center;
}

#idFooterManagement
{
    border: 0px solid #FE0101;
    vertical-align: top;
    text-align: left;
    font-size: 7pt;
}


