<title>De Luna</title>
<h2>
    De Luna
</h2>
<p id="idCenterContent">
    De Luna is a designation for squads of walker vehicles that tend to ambush their targets.  
    While De Luna are automated vehicles, wreckage has determine that there are seats for 
    pilots.  Theories range from A.I. control to remote communication.
</p>

<% content_for :versions do %>
    <a href="http://htkb.dyndns.org/Section2/Section6/Section2/Section2/Project3.html">Basic HTML</a><br>
    <a href="http://htkb.dyndns.org/Section2/Section6/Section2/Section2/Project3.php">PHP</a><br>
    <a href="http://htkb.dyndns.org/Javascript/Section2/Section6/Section2/Section2/Project3.html">HTML Javascript</a><br>
    <a href="http://htkb.dyndns.org:81/ASP/Section2/Section6/Section2/Section2/Project3.asp">ASP Javascript</a><br>
    <a href="http://htkb.dyndns.org:81/ASPNET/Section2/Section6/Section2/Section2/Project3.aspx">ASP.NET Javascript</a><br>
    <a href="http://htkb.dyndns.org:84/Section2/Section6/Section2/Section2/Project3">Node JS</a><br>
	<a href="http://htkb.dyndns.org/Section2/Section6/Section2/Section2/Project3.shtml">Perl</a><br>
    <a href="http://htkb.dyndns.org:8080/JSPApplication/Section2/Section6/Section2/Section2/Project3.jsp">JSP</a><br>
    <a href="http://htkb.dyndns.org:8080/JSFApplication/Section2/Section6/Section2/Section2/Project3.xhtml">JSF</a><br>
    <a href="http://htkb.dyndns.org:81/WebApplication/Section2/Section6/Section2/Section2/Project3.cshtml">ASP.NET Web App</a><br>
    <a href="http://htkb.dyndns.org:81/WebForm/Section2/Section6/Section2/Section2/Project3.aspx">ASP.NET Webform</a><br>
    <a href="http://htkb.dyndns.org:81/MVC/Main/Section2/Section6/Section2/Section2/Project3">ASP.NET MVC App</a><br>
    <a href="http://htkb.dyndns.org/SSI/Section2/Section6/Section2/Section2/Project3.html">Apache SSI</a><br>
    <a href="http://htkb.dyndns.org:82/Section2/Section6/Section2/Section2/Project3">Python Web.py</a><br>
<% end %>