<title>The Dark</title>
<h2>
    The Dark
</h2>
<p id="idCenterContent">
    The Dark are a Hive centered Xenos resembling a disturbing cross between snake, bird and insect.
</p>

<% content_for :versions do %>
    <a href="http://htkb.dyndns.org/Section2/Section6/Section2/Section2/Project10.html">Basic HTML</a><br>
    <a href="http://htkb.dyndns.org/Section2/Section6/Section2/Section2/Project10.php">PHP</a><br>
    <a href="http://htkb.dyndns.org/Javascript/Section2/Section6/Section2/Section2/Project10.html">HTML Javascript</a><br>
    <a href="http://htkb.dyndns.org/JQuery/Section2/Section6/Section2/Section2/Project10.html">JQuery</a><br>
    <a href="http://htkb.dyndns.org:81/ASP/Section2/Section6/Section2/Section2/Project10.asp">ASP Javascript</a><br>
    <a href="http://htkb.dyndns.org:81/ASPNET/Section2/Section6/Section2/Section2/Project10.aspx">ASP.NET Javascript</a><br>
    <a href="http://htkb.dyndns.org:84/Section2/Section6/Section2/Section2/Project10">Node JS</a><br>
	<a href="http://htkb.dyndns.org/Section2/Section6/Section2/Section2/Project10.shtml">Perl</a><br>
    <a href="http://htkb.dyndns.org:8080/JSPApplication/Section2/Section6/Section2/Section2/Project10.jsp">JSP</a><br>
    <a href="http://htkb.dyndns.org:8080/JSFApplication/Section2/Section6/Section2/Section2/Project10.xhtml">JSF</a><br>
    <a href="http://htkb.dyndns.org:81/WebApplication/Section2/Section6/Section2/Section2/Project10.cshtml">ASP.NET Web App</a><br>
    <a href="http://htkb.dyndns.org:81/WebForm/Section2/Section6/Section2/Section2/Project10.aspx">ASP.NET Webform</a><br>
    <a href="http://htkb.dyndns.org:81/MVC/Main/Section2/Section6/Section2/Section2/Project10">ASP.NET MVC App</a><br>
    <a href="http://htkb.dyndns.org/SSI/Section2/Section6/Section2/Section2/Project10.html">Apache SSI</a><br>
    <a href="http://htkb.dyndns.org:82/Section2/Section6/Section2/Section2/Project10">Python Web.py</a><br>
<% end %>