<title>Synergy</title>
<h2>
    Synergy
</h2>
<p id="idCenterContent">
    These almost intangible Xenos appear to made of energy itself.  They use technology that appears unstable in nature.
</p>

<% content_for :versions do %>
    <a href="http://htkb.dyndns.org/Section2/Section6/Section2/Section2/Project9.html">Basic HTML</a><br>
    <a href="http://htkb.dyndns.org/Section2/Section6/Section2/Section2/Project9.php">PHP</a><br>
    <a href="http://htkb.dyndns.org/Javascript/Section2/Section6/Section2/Section2/Project9.html">HTML Javascript</a><br>
    <a href="http://htkb.dyndns.org:81/ASP/Section2/Section6/Section2/Section2/Project9.asp">ASP Javascript</a><br>
    <a href="http://htkb.dyndns.org:81/ASPNET/Section2/Section6/Section2/Section2/Project9.aspx">ASP.NET Javascript</a><br>
    <a href="http://htkb.dyndns.org:84/Section2/Section6/Section2/Section2/Project9">Node JS</a><br>
	<a href="http://htkb.dyndns.org/Section2/Section6/Section2/Section2/Project9.shtml">Perl</a><br>
    <a href="http://htkb.dyndns.org:8080/JSPApplication/Section2/Section6/Section2/Section2/Project9.jsp">JSP</a><br>
    <a href="http://htkb.dyndns.org:8080/JSFApplication/Section2/Section6/Section2/Section2/Project9.xhtml">JSF</a><br>
    <a href="http://htkb.dyndns.org:81/WebApplication/Section2/Section6/Section2/Section2/Project9.cshtml">ASP.NET Web App</a><br>
    <a href="http://htkb.dyndns.org:81/WebForm/Section2/Section6/Section2/Section2/Project9.aspx">ASP.NET Webform</a><br>
    <a href="http://htkb.dyndns.org:81/MVC/Main/Section2/Section6/Section2/Section2/Project9">ASP.NET MVC App</a><br>
    <a href="http://htkb.dyndns.org/SSI/Section2/Section6/Section2/Section2/Project9.html">Apache SSI</a><br>
    <a href="http://htkb.dyndns.org:82/Section2/Section6/Section2/Section2/Project9">Python Web.py</a><br>
<% end %>