<title>Voboulids</title>
<h2>
    Voboulids
</h2>
<p id="idCenterContent">
    Vouboulids are a plant-like group of entities.  Using a hive structure, 
    these Xenos seem to concentrate on populating one area at a time, causing a slow expansion.
</p>

<% content_for :versions do %>
    <a href="http://htkb.dyndns.org/Section2/Section6/Section2/Section2/Project7.html">Basic HTML</a><br>
    <a href="http://htkb.dyndns.org/Section2/Section6/Section2/Section2/Project7.php">PHP</a><br>
    <a href="http://htkb.dyndns.org/Javascript/Section2/Section6/Section2/Section2/Project7.html">HTML Javascript</a><br>
    <a href="http://htkb.dyndns.org:81/ASP/Section2/Section6/Section2/Section2/Project7.asp">ASP Javascript</a><br>
    <a href="http://htkb.dyndns.org:81/ASPNET/Section2/Section6/Section2/Section2/Project7.aspx">ASP.NET Javascript</a><br>
    <a href="http://htkb.dyndns.org:84/Section2/Section6/Section2/Section2/Project7">Node JS</a><br>
	<a href="http://htkb.dyndns.org/Section2/Section6/Section2/Section2/Project7.shtml">Perl</a><br>
    <a href="http://htkb.dyndns.org:8080/JSPApplication/Section2/Section6/Section2/Section2/Project7.jsp">JSP</a><br>
    <a href="http://htkb.dyndns.org:8080/JSFApplication/Section2/Section6/Section2/Section2/Project7.xhtml">JSF</a><br>
    <a href="http://htkb.dyndns.org:81/WebApplication/Section2/Section6/Section2/Section2/Project7.cshtml">ASP.NET Web App</a><br>
    <a href="http://htkb.dyndns.org:81/WebForm/Section2/Section6/Section2/Section2/Project7.aspx">ASP.NET Webform</a><br>
    <a href="http://htkb.dyndns.org:81/MVC/Main/Section2/Section6/Section2/Section2/Project7">ASP.NET MVC App</a><br>
    <a href="http://htkb.dyndns.org/SSI/Section2/Section6/Section2/Section2/Project7.html">Apache SSI</a><br>
    <a href="http://htkb.dyndns.org:82/Section2/Section6/Section2/Section2/Project7">Python Web.py</a><br>
<% end %>