$def with (vPage, vLevel, vDivision)

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		$:getHead(vLevel, vDivision)
	</head>
	<body>
		<div id="idGeneralLayout">
			<Header id="idHeaderRow">
				<div id="idHeaderRowCenter">
					$:getLogo()
				</div>
			</Header>
			<Nav id="idNavigationRow">
				<div id="idNavigationBar">
					$:getNavBar()
				</div>
			</Nav>				
			<div id="idCenterRow">
				<div id="idCenterRowLeft">
					$:getNavigationHeader()
					$:getNavigation(vLevel)
				</div>
				<div id="idCenterRowMain">
					$:getTitle(vPage, vLevel)
					$:getContentHeader(vPage, vLevel)
					$:getContent(vPage, vLevel)
				</div>
				<div id="idCenterRowRight">
					$:getInformationHeader()
					$:getInformation()
					$:getVersions(vPage, vLevel)
				</div>   
			</div>
			<Footer id="idFooterRow">
				<div id="idFooterMain">
					<div>
						$:getGDR()
					</div>
					<div>
						$:getWinRar()
					</div>
					$:getFooter()
					$:getWebMaster()
				</div>
			</Footer>
		</div>
	</body>
</html>