$def with (vPage, vLevel, vDivision)

<html>
<head>
	$:getHead(vLevel, vDivision)
</head>
<body id="idBody">
    <table id="idTableMain">
        <tr id="idHeaderRow">
            <td id="idHeaderRowCenter" colspan="3">
				$:getLogo()
            </td>
        </tr>
        <tr id="idNavigationRow">
            <td id="idNavigationBar" colspan="3">
                $:getNavBar()
            </td>
        </tr>				
		<tr id="idCenterRow">
            <td id="idCenterRowLeft">
                $:getNavigationHeader()
				$:getNavigation(vLevel)
  			</td>
            <td id="idCenterRowMain">
				$:getTitle(vPage, vLevel);
				$:getContentHeader(vPage, vLevel);
				$:getContent(vPage, vLevel)
            </td>
			<td id="idCenterRowRight">
                $:getInformationHeader()
				$:getInformation()
            	$:getVersions(vPage, vLevel)
            </td>   
		</tr>
        <tr id="idFooterRow">
            <td id="idFooterMain" colspan="3">
                $:getFooter()
            	$:getWebMaster()
            </td>
        </tr>
    </table>
</body>
</html>