<a class="navBar" href="/index">Home</a>
<a class="navBar" href="/Section1/index">Web Programming</a>
<a class="navBar" href="/Section2/index">Private Projects</a>
<a class="navBar" href="/Section3/index">Downloadable Projects</a>