<a class="navBar" href="/Index">Home</a>
<a class="navBar" href="/Section1/Index">Web Programming</a>
<a class="navBar" href="/Section2/Index">Private Projects</a>
<a class="navBar" href="/Section3/Index">Downloadable Projects</a>