<a class="navBar" href="/Index">Home</a>
<a class="navBar" href="/Division1/Index">Web Programming</a>
<a class="navBar" href="/Division2/Index">Private Projects</a>
<a class="navBar" href="/Division3/Index">Downloadable Projects</a>