<title>Global Antarrea</title>
<h2>
    Global Antarrea
</h2>
<p id="idCenterContent">
    Here are projects based in the Antarrea universe:</br>
		</br>
		Team Tactical: Crash Ball:               Tactical board game centered on a battle version of football.</br>
		Wars of Antarrea:                        Table-top game where two or more armies battle for supremacy.</br>
		Revolutions: Invading Nations:           Tactical RPG, 1st story arc.</br>
		Revolutions: Rebellion Against the Fist: Tactical RPG, 2nd story arc.</br>
		Revolutions: Return to Arms:             Tactical RPG, 3rd story arc.</br>
		Revoultions: Post Wars:                  Tactical RPG, 4th story arc.</br>
</p>

<% content_for :versions do %>
    <a href="http://htkb.dyndns.org/Division2/Section5/Section1/Index.html">Basic HTML</a><br>
    <a href="http://htkb.dyndns.org/Division2/Section5/Section1/Index.php">PHP</a><br>
    <a href="http://htkb.dyndns.org/Division2/Section5/Section1/Index.shtml">Perl</a><br>
    <a href="http://htkb.dyndns.org/SSI/Division2/Section5/Section1/Index.html">Apache SSI</a><br>
    <a href="http://htkb.dyndns.org/Javascript/Division2/Section5/Section1/Index.html">HTML Javascript</a><br>
    <a href="http://htkb.dyndns.org/JQuery/Division2/Section5/Section1/Index.html">JQuery</a><br>
    <a href="http://htkb.dyndns.org/AngularJS/Division2/Section5/Section1/Index.html">Angular JS</a><br>
    <a href="http://htkb.dyndns.org:8080/JSFApplication/Division2/Section5/Section1/Index.xhtml">JSF</a><br>
    <a href="http://htkb.dyndns.org:8080/JSPApplication/Division2/Section5/Section1/Index.jsp">JSP</a><br>
    <a href="http://htkb.dyndns.org:8080/SpringMVC/Division2/Section5/Section1/Index.jsp">JSP Spring MVC</a><br>
    <a href="http://htkb.dyndns.org:81/ASP/Division2/Section5/Section1/Index.asp">ASP VBscript</a><br>
    <a href="http://htkb.dyndns.org:81/ASPNET/Division2/Section5/Section1/Index.aspx">ASP.NET Javascript</a><br>
	<a href="http://htkb.dyndns.org:81/WebApplication/Division2/Section5/Section1/Index.cshtml">ASP.NET Web App</a><br>
    <a href="http://htkb.dyndns.org:81/WebForm/Division2/Section5/Section1/Index.aspx">ASP.NET Webform</a><br>
    <a href="http://htkb.dyndns.org:81/MVC/Division2/Section5/Section1/Index">ASP.NET MVC App</a><br>
    <a href="http://htkb.dyndns.org:82/Division2/Section5/Section1/Index">Python Web.py</a><br>
    <a href="http://htkb.dyndns.org:84/Division2/Section5/Section1/Index">Node JS</a><br>
<% end %>