<title>Global Antarrea</title>
<h2>
    Global Antarrea
</h2>
<p id="idCenterContent">
    Here are projects based in the Antarrea universe:</br>
		</br>
		Team Tactical: Crash Ball:               Tactical board game centered on a battle version of football.</br>
		Wars of Antarrea:                        Table-top game where two or more armies battle for supremacy.</br>
		Revolutions: Invading Nations:           Tactical RPG, 1st story arc.</br>
		Revolutions: Rebellion Against the Fist: Tactical RPG, 2nd story arc.</br>
		Revolutions: Return to Arms:             Tactical RPG, 3rd story arc.</br>
		Revoultions: Post Wars:                  Tactical RPG, 4th story arc.</br>
</p>

<% content_for :versions do %>
    <a href="http://htkb.dyndns.org/Section2/Section5/Section1/index.html">Basic HTML</a><br>
    <a href="http://htkb.dyndns.org/Section2/Section5/Section1/index.php">PHP</a><br>
    <a href="http://htkb.dyndns.org/Javascript/Section2/Section5/Section1/index.html">HTML Javascript</a><br>
    <a href="http://htkb.dyndns.org/JQuery/Section2/Section5/Section1/index.html">JQuery</a><br>
    <a href="http://htkb.dyndns.org:81/ASP/Section2/Section5/Section1/index.asp">ASP Javascript</a><br>
    <a href="http://htkb.dyndns.org:81/ASPNET/Section2/Section5/Section1/index.aspx">ASP.NET Javascript</a><br>
    <a href="http://htkb.dyndns.org:84/Section2/Section5/Section1/index">Node JS</a><br>
	<a href="http://htkb.dyndns.org/Section2/Section5/Section1/index.shtml">Perl</a><br>
    <a href="http://htkb.dyndns.org:8080/JSPApplication/Section2/Section5/Section1/index.jsp">JSP</a><br>
    <a href="http://htkb.dyndns.org:8080/JSFApplication/Section2/Section5/Section1/index.xhtml">JSF</a><br>
    <a href="http://htkb.dyndns.org:81/WebApplication/Section2/Section5/Section1/index.cshtml">ASP.NET Web App</a><br>
    <a href="http://htkb.dyndns.org:81/WebForm/Section2/Section5/Section1/index.aspx">ASP.NET Webform</a><br>
    <a href="http://htkb.dyndns.org:81/MVC/Main/Section2/Section5/Section1/index">ASP.NET MVC App</a><br>
    <a href="http://htkb.dyndns.org/SSI/Section2/Section5/Section1/index.html">Apache SSI</a><br>
    <a href="http://htkb.dyndns.org:82/Section2/Section5/Section1/index">Python Web.py</a><br>
<% end %>