<title>Revolutions: Rebellion Against the Fist</title>
<h2>
    Revolutions: Rebellion Against the Fist
</h2>
<p id="idCenterContent">
    Revolutions is a Tactical RPG with Rebellion Against the Fist as its 2nd story arc.</br>
</p>

<% content_for :versions do %>
    <a href="http://htkb.dyndns.org/Section2/Section5/Section1/Project4.html">Basic HTML</a><br>
    <a href="http://htkb.dyndns.org/Section2/Section5/Section1/Project4.php">PHP</a><br>
    <a href="http://htkb.dyndns.org/Javascript/Section2/Section5/Section1/Project4.html">HTML Javascript</a><br>
    <a href="http://htkb.dyndns.org:81/ASP/Section2/Section5/Section1/Project4.asp">ASP Javascript</a><br>
    <a href="http://htkb.dyndns.org:81/ASPNET/Section2/Section5/Section1/Project4.aspx">ASP.NET Javascript</a><br>
    <a href="http://htkb.dyndns.org:84/Section2/Section5/Section1/Project4">Node JS</a><br>
	<a href="http://htkb.dyndns.org/Section2/Section5/Section1/Project4.shtml">Perl</a><br>
    <a href="http://htkb.dyndns.org:8080/JSPApplication/Section2/Section5/Section1/Project4.jsp">JSP</a><br>
    <a href="http://htkb.dyndns.org:8080/JSFApplication/Section2/Section5/Section1/Project4.xhtml">JSF</a><br>
    <a href="http://htkb.dyndns.org:81/WebApplication/Section2/Section5/Section1/Project4.cshtml">ASP.NET Web App</a><br>
    <a href="http://htkb.dyndns.org:81/WebForm/Section2/Section5/Section1/Project4.aspx">ASP.NET Webform</a><br>
    <a href="http://htkb.dyndns.org:81/MVC/Main/Section2/Section5/Section1/Project4">ASP.NET MVC App</a><br>
    <a href="http://htkb.dyndns.org/SSI/Section2/Section5/Section1/Project4.html">Apache SSI</a><br>
    <a href="http://htkb.dyndns.org:82/Section2/Section5/Section1/Project4">Python Web.py</a><br>
<% end %>