<title>Land of the Orcish Empire: Age of Magic</title>
<h2>
    Land of the Orcish Empire: Age of Magic
</h2>
<p id="idCenterContent">
    Here are projects based in the Grendol Empire:</br>
    </br>
    Land of the Orcish Empire: Age of Magic: a CCG based on the different factions that 
    comprise the Grendol Empire.</br>
    Coliseum: Arena: a CCG representing the gladitorial arenas of Grendol.</br>
</p>

<% content_for :versions do %>
    <a href="http://htkb.dyndns.org/Section2/Section5/Section2/Project1.html">Basic HTML</a><br>
    <a href="http://htkb.dyndns.org/Section2/Section5/Section2/Project1.php">PHP</a><br>
    <a href="http://htkb.dyndns.org/Javascript/Section2/Section5/Section2/Project1.html">HTML Javascript</a><br>
    <a href="http://htkb.dyndns.org:81/ASP/Section2/Section5/Section2/Project1.asp">ASP Javascript</a><br>
    <a href="http://htkb.dyndns.org:81/ASPNET/Section2/Section5/Section2/Project1.aspx">ASP.NET Javascript</a><br>
    <a href="http://htkb.dyndns.org:84/Section2/Section5/Section2/Project1">Node JS</a><br>
	<a href="http://htkb.dyndns.org/Section2/Section5/Section2/Project1.shtml">Perl</a><br>
    <a href="http://htkb.dyndns.org:8080/JSPApplication/Section2/Section5/Section2/Project1.jsp">JSP</a><br>
    <a href="http://htkb.dyndns.org:8080/JSFApplication/Section2/Section5/Section2/Project1.xhtml">JSF</a><br>
    <a href="http://htkb.dyndns.org:81/WebApplication/Section2/Section5/Section2/Project1.cshtml">ASP.NET Web App</a><br>
    <a href="http://htkb.dyndns.org:81/WebForm/Section2/Section5/Section2/Project1.aspx">ASP.NET Webform</a><br>
    <a href="http://htkb.dyndns.org:81/MVC/Main/Section2/Section5/Section2/Project1">ASP.NET MVC App</a><br>
    <a href="http://htkb.dyndns.org/SSI/Section2/Section5/Section2/Project1.html">Apache SSI</a><br>
    <a href="http://htkb.dyndns.org:82/Section2/Section5/Section2/Project1">Python 
<% end %>