<title>Java Programming</title>
<h2>
    Java Programming
</h2>
<p id="idCenterContent">
    This section is dedicated to Java based programming.
</p>

<% content_for :versions do %>
    <a href="http://htkb.dyndns.org/Section1/Section4/Index.html">Basic HTML</a><br>
    <a href="http://htkb.dyndns.org/Section1/Section4/Index.php">PHP</a><br>
    <a href="http://htkb.dyndns.org/Javascript/Section1/Section4/Index.html">HTML Javascript</a><br>
    <a href="http://htkb.dyndns.org/JQuery/Section1/Section4/Index.html">JQuery</a><br>
    <a href="http://htkb.dyndns.org:81/ASP/Section1/Section4/Index.asp">ASP VBscript</a><br>
    <a href="http://htkb.dyndns.org:81/ASPNET/Section1/Section4/Index.aspx">ASP.NET Javascript</a><br>
    <a href="http://htkb.dyndns.org:84/Section1/Section4/Index">Node JS</a><br>
	<a href="http://htkb.dyndns.org/Section1/Section4/Index.shtml">Perl</a><br>
    <a href="http://htkb.dyndns.org:8080/JSPApplication/Section1/Section4/Index.jsp">JSP</a><br>
    <a href="http://htkb.dyndns.org:8080/JSFApplication/Section1/Section4/Index.xhtml">JSF</a><br>
    <a href="http://htkb.dyndns.org:81/WebApplication/Section1/Section4/Index.cshtml">ASP.NET Web App</a><br>
    <a href="http://htkb.dyndns.org:81/WebForm/Section1/Section4/Index.aspx">ASP.NET Webform</a><br>
    <a href="http://htkb.dyndns.org:81/MVC/Section1/Section4/Index">ASP.NET MVC App</a><br>
    <a href="http://htkb.dyndns.org/SSI/Section1/Section4/Index.html">Apache SSI</a><br>
    <a href="http://htkb.dyndns.org:82/Section1/Section4/Index">Python Web.py</a><br>
<% end %>