<title>HTKB Home Page</title>
<h2>
    Welcome to the House That Kamurai Built!
</h2>
<p id="idCenterContent">
    The House That Kamurai Built is an 
    entertainment company with the primary 
    focus of increasing awesome by stimulating 
    intelligent conversation and entertainment 
    via discussion and game design. <br>
    Increase the Awesome with us!<br>
</p>

<% content_for :versions do %>
    <a href="http://htkb.dyndns.org/index.html">HTML</a><br>
	<a href="http://htkb.dyndns.org/index.php">PHP</a><br>
	<a href="http://htkb.dyndns.org/Javascript/index.html">HTML Javascript</a><br>
	<a href="http://htkb.dyndns.org/JQuery/index.html">JQuery</a><br>
	<a href="http://htkb.dyndns.org:81/ASP/index.asp">ASP Javascript</a><br>
	<a href="http://htkb.dyndns.org:81/ASPNET/index.aspx">ASP.NET Javascript</a><br>
	<a href="http://htkb.dyndns.org:84/index">Node JS</a><br>
	<a href="http://htkb.dyndns.org/index.shtml">Perl</a><br>
	<a href="http://htkb.dyndns.org:8080/JSPApplication/index.jsp">JSP</a><br>
	<a href="http://htkb.dyndns.org:8080/JSFApplication/index.xhtml">JSF</a><br>
	<a href="http://htkb.dyndns.org:81/WebApplication/index.cshtml">ASP.NET Web App</a><br>
	<a href="http://htkb.dyndns.org:81/WebForm/index.aspx">ASP.NET Webform</a><br>
	<a href="http://htkb.dyndns.org:81/MVC/Main/index">ASP.NET MVC App</a><br>
	<a href="http://htkb.dyndns.org/SSI/index.html">Apache SSI</a><br>
    <a href="http://htkb.dyndns.org:82/index">Python Web.py</a><br>
<% end %>