<a class=\"navlinkA\" href="../Section1/index">Gynowars</a><br><br>
<a class=\"navlinkA\" href="../Project2">Assault</a><br><br>
<a class=\"navlinkA\" href="../Project3">Mars</a><br><br>
<a class=\"navlinkA\" href="../Section4/index">Renley</a><br><br>
<a class=\"navlinkA\" href="../Section5/index">Antarrea</a><br><br>
<a class=\"navlinkA\" href="../Section6/index">Editations</a><br><br>
    <a class=\"navlinkB\" href="./Project1">Magic: The Tactical</a><br><br>
    <a class=\"navlinkB\" href="./Section2/index">Warhammer 40K</a><br><br>
<a class=\"navlinkA\" href="../Project7">Truth</a><br><br>
<a class=\"navlinkA\" href="../Project8">Kingdoms</a><br><br>
<a class=\"navlinkA\" href="../Project9">Terminal World</a><br><br>
<a class=\"navlinkA\" href="../Project10">Monster Office Workplace</a><br><br>
<a class=\"navlinkA\" href="../Project11">Battle Princesses</a><br><br>
<a class=\"navlinkA\" href="../Project12">Sacred Offerings</a><br><br>
<a class=\"navlinkA\" href="../Project13">The Way</a><br><br>
<a class=\"navlinkA\" href="../Project14">Conspiratorium</a><br><br>
<a class=\"navlinkA\" href="../Project15">Conversion</a><br><br>
